h1{
    text-align: center;
}
table{
    border:1px solid black;
    border-collapse: collapse;
    background-color: blue;
    margin-left: 70px;
    border-right-color: blue;
    border-bottom-color:blue ;
    border-left-color: blue;
    border-top-color: blue;
    border-width: 2px;
    border-style: solid;
}
th{
    border:1px solid blue;
    padding:2px;
    color: white;
}
td{
    border:1px solid blue;
    padding:2px;
    background-color: white;
}